$navbar-color: #222222;
$main-color: #161513;
$card-color: #2A2A2A;
$secondary-color: #FFFFFF;
$secondary-text: #C5C5C5;
$main-gradient: linear-gradient(90deg, rgba(255, 134, 96, 1) 0%, rgba(154, 51, 255, 1) 100%);