@use './sass/colors' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: 'Poppins', sans-serif;
	color: $secondary-color;
	background-color: #000000;
	background-image: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// HEADER + NAV

.navigation {
	position: sticky;
	top: 0;
	padding: 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(34, 34, 34, 0.7);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	z-index: 10000;
	&__logo {
		width: 130px;
		height: 35px;
	}

	&__desktop {
		display: none;

		a {
			position: relative;
			font-size: 2.2rem;
			padding: 0 1em;
			color: $secondary-color;
			text-transform: uppercase;
			text-decoration: none;
			z-index: 0;
		}

		a::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			background-color: rgba(255, 134, 96, 0.6);
			z-index: -1;
			transition: 0.3s;
		}

		a:hover {
			color: #161513;
		}

		a:hover::after {
			height: 100%;
		}
	}

	&__mobile {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		transform: translateX(100%);
		transition: transform 0.3s;
		background-color: #222222;
		z-index: 1000;

		a {
			padding-bottom: 1em;
			font-size: 2.6rem;
			color: $secondary-color;
			text-decoration: none;
			text-transform: uppercase;
		}

		&--show {
			transform: translateX(0);
		}
	}

	.hamburger {
		position: absolute;
		right: 0;
		z-index: 10000;
	}
}

// SEKCJA 1 - HOME

.home {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		margin-top: 1em;
		width: 200px;
		height: 190px;
	}

	&__text {
		text-align: center;
		h2 {
			font-size: 3rem;
			margin: 0.7em 0.5em;
			span {
				background-image: $main-gradient;
				background-clip: text;
				background-size: 240% 100%;
				color: rgb(0 0 0 / 20%);
				animation: gradient-animation 8s ease infinite;
			}
		}

		p {
			margin-top: 2em;
			padding: 0 2.3em;
			font-size: 1.2rem;
			color: $secondary-text;
		}
	}

	&__btns {
		display: flex;
		margin-top: 2em;
		padding: 1.5em;

		&-contact {
			margin-right: 1em;
			padding: 1em 1.5em;
			font-size: 1.5rem;
			font-weight: 600;
			text-transform: capitalize;
			background-color: $secondary-color;
			border-radius: 90px;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				transform: scale(1.13);
			}
		}
		&-download {
			padding: 1em 1.5em;
			font-size: 1.5rem;
			font-weight: 600;
			color: $secondary-text;
			background-color: transparent;
			border: 1px solid $secondary-color;
			border-radius: 90px;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				transform: scale(1.13);
			}
		}
	}
}

// SEKCJA 2 - EXPERIENCE

.experience {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	height: 40vh;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $main-color;
		transform: skewY(-5deg);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
		z-index: -1;
	}

	h2 {
		text-transform: uppercase;
		font-size: 2.6rem;
		background-image: linear-gradient(
			193deg,
			rgba(253, 253, 253, 1) 20%,
			rgba(253, 253, 253, 0.77) 80%,
			rgba(253, 253, 253, 0.18) 100%
		);
		background-clip: text;
		background-size: 240% 240%;
		color: rgb(0 0 0 / 20%);
		letter-spacing: 2px;
	}

	&__icons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 0.5em;
		font-size: 4.6rem;
		i {
			padding: 0.6em;
			background-image: $main-gradient;
			background-clip: text;
			background-size: 240% 240%;
			color: rgb(0 0 0 / 20%);
			animation: gradient-animation 4s ease infinite;
			transition: all 0.3s;

			&:hover {
				background-image: $main-gradient;
				transform: translateY(-10px);
			}
		}
	}
}

// SEKCJA 3 - PROJECTS

.projects {
	margin-top: 1em;
	text-align: center;
	h2 {
		padding-top: 1em;
		text-transform: uppercase;
		font-size: 2.6rem;
		background-image: linear-gradient(160deg, rgba(255, 134, 96, 1) 43%, rgba(213, 73, 29, 1) 61%);
		background-clip: text;
		color: rgb(0 0 0 / 20%);
		letter-spacing: 2px;
	}

	&__cards {
		margin: 2em 2em 2em 0;
		&-card {
			margin-left: 2em;
			position: relative;
			width: 350px;
			height: 220px;
			text-align: left;
			border-radius: 18px;
			box-shadow: 7px 7px 10px -9px rgba(103, 101, 101, 1);
			overflow: hidden;
			transition: transform 0.3s;
			img {
				width: 100%;
				height: 100%;
			}

			.text {
				padding: 1em 0;
				padding-left: 1em;
				position: absolute;
				bottom: 0;
				display: flex;
				flex-direction: column;
				width: 100%;
				background-color: $card-color;
				color: $secondary-text;
				opacity: 0.94;

				h3 {
					font-size: 1.3rem;
					color: #ff8660;
				}

				span {
					font-weight: bold;
				}
				p {
					font-style: italic;
					opacity: 0.6;
				}
			}

			a {
				padding: 1em;
				position: absolute;
				bottom: 0px;
				right: 0px;
				font-size: 1.6rem;
				text-decoration: none;
				color: $secondary-text;
				transition: color 0.3s;

				&:hover {
					color: #ff8660;
				}
			}

			&:hover {
				transform: scale(0.94);
			}
		}
	}

	&__info {
		margin-top: 2em;
		padding: 0.6em 0;
		font-size: 1.4rem;
		font-weight: 500;
		letter-spacing: 2px;
		a {
			position: relative;
			text-decoration: none;
			color: #ff8660;
			z-index: 0;
		}

		a::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			background-color: $secondary-color;
			z-index: -1;
			transition: 0.3s;
		}

		a:hover::after {
			height: 100%;
		}
	}
}

// SEKCJA 4 - SERVICES

.contact {
	margin-top: 1em;
	height: 100vh;
	background-color: $main-color;
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);

	&__title {
		text-align: center;
		padding-top: 1em;
		text-transform: uppercase;
		font-size: 2.6rem;
		letter-spacing: 2px;
		background-image: linear-gradient(163deg, rgba(91, 173, 255, 1) 40%, rgba(19, 115, 209, 1) 73%);
		background-clip: text;
		color: rgb(0 0 0 / 20%);
	}

	&__box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		&-left {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			img {
				width: 70%;
			}
			.text {
				padding: 1em 2em;
				border: 1px solid rgba(19, 115, 209, 1);
				border-radius: 18px;
				box-shadow: 0px 0px 9px 0px rgba(19, 115, 209, 1);
				h3 {
					position: relative;
					letter-spacing: 2px;
					text-transform: uppercase;
					color: $secondary-text;
					font-size: 1.6rem;
				}

				h3::after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translate(-50%);
					background-color: rgba(19, 115, 209, 1);
					width: 50%;
					height: 1px;
				}

				p {
					margin-top: 0.5em;
					font-size: 1.3rem;
				}

				&__icons {
					margin-top: 0.5em;
					font-size: 1.8rem;

					i {
						padding-right: 1em;
						background-image: linear-gradient(163deg, rgba(91, 173, 255, 1) 40%, rgba(19, 115, 209, 1) 73%);
						background-clip: text;
						background-size: 240% 100%;
						color: rgb(0 0 0 / 20%);
						animation: gradient-animation 8s ease infinite;
					}
				}
			}
		}

		&-right {
			padding: 2em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			border: 1px solid rgba(19, 115, 209, 1);
			border-radius: 18px;
			max-width: 90%; /* Dostosuj szerokość formularza według potrzeb */
			margin: 2em auto;
			box-shadow: 0px 0px 9px 0px rgba(19, 115, 209, 1);

			h2 {
				font-size: 3rem;
				background-image: linear-gradient(163deg, rgba(91, 173, 255, 1) 40%, rgba(19, 115, 209, 1) 73%);
				background-clip: text;
				color: rgb(0 0 0 / 20%);
			}

			form {
				padding: 2em;
				display: flex;
				flex-direction: column;

				.name-input {
					position: relative;

					.fa-user {
						position: absolute;
						top: 10px;
						left: 10px;
					}

					label {
						position: absolute;
						top: -20px;
						left: 0;
					}
				}
				.mail-input {
					position: relative;
					margin-top: 2.5em;

					.fa-at {
						position: absolute;
						top: 10px;
						left: 10px;
					}

					label {
						position: absolute;
						top: -20px;
						left: 0;
					}
				}
				.msg-input {
					position: relative;
					margin-top: 2.5em;
					.fa-message {
						position: absolute;
						top: 10px;
						left: 10px;
					}

					label {
						position: absolute;
						top: -20px;
						left: 0;
					}
				}

				label {
					color: $secondary-text;
					font-size: 1.2rem;
					text-transform: uppercase;
				}

				input {
					padding: 0.5em 2em;
					background: none;
					color: $secondary-text;
					border: 1.3px solid rgba(19, 115, 209, 1);
					border-radius: 8px;
					box-sizing: border-box;
					outline: none;
				}

				textarea {
					padding: 0.5em;
					background: none;
					color: $secondary-text;
					border: 1.3px solid rgba(19, 115, 209, 1);
					border-radius: 8px;
					width: 100%;
					max-width: 224px;
					outline: none;
				}

				i {
					font-size: 1.3rem;
					color: rgba(19, 115, 209, 1);
				}
			}
		}
	}
}

footer {
	height: 30vh;
}

// ANIMACJE

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// MEDIA

@media (min-width: 768px) {
	.navigation {
		border-bottom-left-radius: 600px;
		border-bottom-right-radius: 600px;
		&__desktop {
			display: flex;
		}

		.hamburger {
			display: none;
		}

		&__logo {
			top: 10px;
			left: 250px;
			width: 200px;
			height: 60px;
		}
	}

	.home {
		margin-top: 3.5em;
		img {
			margin: 1em 0;
			width: 350px;
			height: 340px;
		}

		&__text {
			h2 {
				font-size: 6.5rem;
				margin: 0.7em 2em;
			}

			p {
				padding: 0 5em;
				font-size: 1.6rem;
			}
		}

		&__btns {
			margin-top: 5em;
			padding: 3em;

			&-contact {
				padding: 1em 1.5em;
				font-size: 2rem;
			}

			&-download {
				padding: 1em 1.5em;
				font-size: 2rem;
			}
		}
	}

	.experience {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2em;

		h2 {
			font-size: 3.4rem;

			&__icons {
				font-size: 5rem;
				i {
					padding: 0 1em;
				}
			}
		}
	}

	.projects {
		h2 {
			font-size: 3.4rem;
		}

		&__cards {
			flex-direction: row;
			justify-content: space-around;

			&-card {
				width: 550px;
				height: 370px;

				.text {
					padding: 2em;

					h3 {
						font-size: 2rem;
					}

					span {
						font-size: 1.3rem;
						font-weight: bold;
					}
					p {
						font-style: italic;
						opacity: 0.6;
					}

					a {
						padding: 1em;
						font-size: 2.5rem;
					}
				}
			}
		}

		&__info {
			font-size: 2.3rem;
		}
	}

	.contact {
		height: 70vh;
		&__title {
			font-size: 3.4rem;
		}

		&__box {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr;

			&-left {
				img {
					width: 46%;
				}
				.text {
					padding: 2em;

					h3 {
						font-size: 2.6rem;
					}

					p {
						font-size: 1.6rem;
					}

					&__icons {
						font-size: 2.3rem;
					}
				}
			}

			&-right {
				width: 70%;
				height: 95%;
				h2 {
					font-size: 4rem;
				}

				form {
					width: 100%;
					padding: 2em;

					.name-input {
						position: relative;

						.fa-user {
							position: absolute;
							top: 10px;
							left: 10px;
						}

						label {
							position: absolute;
							top: -20px;
							left: 0;
						}
					}
					.mail-input {
						position: relative;
						margin-top: 2.5em;
						.fa-at {
							position: absolute;
							top: 10px;
							left: 10px;
						}

						label {
							position: absolute;
							top: -20px;
							left: 0;
						}
					}
					.msg-input {
						position: relative;
						margin-top: 2.5em;
						.fa-message {
							position: absolute;
							top: 10px;
							left: 10px;
						}

						label {
							position: absolute;
							top: -20px;
							left: 0;
						}
					}

					label {
						color: $secondary-text;
						font-size: 1.2rem;
						text-transform: uppercase;
					}

					input {
						padding: 0.5em 0.5em 0.5em 2em;
						width: 100%;
					}

					textarea {
						padding: 0.5em 0.5em 0.5em 2em;
						background: none;
						border: 1.3px solid rgba(19, 115, 209, 1);
						border-radius: 8px;
						width: 100%;
						height: 220px;
						max-width: 100%;
						min-width: 100%;
					}

					i {
						font-size: 1.3rem;
						color: rgba(19, 115, 209, 1);
					}
				}
			}
		}
	}
}
